<% if (!page.disableComments) { %>
<% page.comment = true; %>
<% } %>

<% if (!page.disableTitle) { %>
<div class="page-header logo">
  <h1 class="glitch" data-text="<%= page.title %>∎"><%= page.title %><span class="blink-fast">∎</span></h1>
</div>
<% } %>

<div class="col-md-9">
<%- partial('_partial/article', {item: page, post: true}) %>
</div>

<div class="col-md-3">
    <div id="side_meta" data-spy="affix" data-offset-top="100" data-offset-bottom="0">
        <% if (config.theme_config.widgets.length) { %>
            <%- partial('_partial/sidebar') %>
        <% } %>
    </div>
</div>
