<div class="col-md-3">
	<div id="sidebar" data-spy="affix" data-offset-top="100" data-offset-bottom="0">
        <%- partial('toc') %>
        <% theme.widgets.forEach(function(widget){ %>
            <%- partial('../_widget/' + widget) %>
        <% }); %>
	</div> <!-- sidebar -->
</div> <!-- col-md-3 -->
